:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #555;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-medium: 0 2rem 4rem rgba(0,0,0,.15);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.6; }

.landing {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.36)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .landing__header {
    width: 75%;
    color: var(--color-grey-light-2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 1px; }
    .landing__header-text {
      font-size: 5.25rem;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
      @media only screen and (max-width: 75em) {
        .landing__header-text {
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .landing__header-text {
          font-size: 3rem; } }
    .landing__header-subtext {
      font-size: 2.25rem;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
      margin-bottom: .5rem; }
      @media only screen and (max-width: 75em) {
        .landing__header-subtext {
          font-size: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .landing__header-subtext {
          margin-bottom: 0; } }
      @media only screen and (max-width: 37.5em) {
        .landing__header-subtext {
          font-size: 1.5rem; } }
    .landing__header-button {
      font-size: 1.5rem;
      background: #fff;
      color: #000;
      margin: 1rem;
      padding: 1.75rem 1.5rem;
      border-style: none;
      border-radius: 25px;
      box-shadow: var(--shadow-dark);
      transition: all .15s; }
      @media only screen and (max-width: 68.75em) {
        .landing__header-button {
          padding: 1.5rem 1.25rem; } }
      @media only screen and (max-width: 37.5em) {
        .landing__header-button {
          padding: 1.25rem 1rem; } }
      .landing__header-button:hover {
        transform: scale(1.05); }
      .landing__header-button:active {
        transform: translateY(2px) scale(1.05); }
      .landing__header-button:focus {
        outline: none; }
