.about {
    background:
        radial-gradient(circle, transparent 20%, var(--color-grey-light-1) 20%, var(--color-grey-light-1) 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, var(--color-grey-light-1) 20%, var(--color-grey-light-1) 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(rgba(204, 204, 204, .8) 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, rgba(204, 204, 204, .8) 8px, transparent 8px) -4px 0;
    background-color: var(--color-grey-light-1);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    padding: 5rem 0;

    @media only screen and (max-width: $bp-small) {
        padding: 3rem 0;
    }
}