.footer {
    height: 12rem;
    background: black;
    position: relative;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium) {
        height: 6rem;
    }

    &-text {
        color: #fff;
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 1px;


        @media only screen and (max-width: $bp-medium) {
            font-size: 1.25rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1rem;
        }
    }
}