.button {
    font-size: 1.75rem;
    background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;

    position: relative;
    margin: 1rem;
    padding: 2rem 1.75rem;
    border-style: none;
    border-radius: 3rem;
    box-shadow: var(--shadow-light);
    transition: all .4s;

    @media only screen and (max-width: $bp-large) {
        padding: 1.5rem 1.25rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 1.25rem 1rem;
        font-size: 1.5rem;
        box-shadow: none;
        margin: 0 0 1rem;
    }

    &:hover {
        transform: translateY(-3px);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
    }

    &::after {
        content: '';
        background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 3rem;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
    }
}